variables:
  DOCKER_BUILDKIT: 1

image:
  name: docker:git

before_script:
  - docker login $CI_REGISTRY -u $CI_REGISTRY_USER -p $CI_JOB_TOKEN

build_latest:
  stage: build
  only:
  - web
  script:
    - docker pull $CI_REGISTRY_IMAGE:source ||true
    - docker pull $CI_REGISTRY_IMAGE:latest ||true
    - docker pull "$(cat Dockerfile |egrep -I '^FROM' |cut -d' ' -f2)"
    - docker tag "$(cat Dockerfile |egrep -I '^FROM' |cut -d' ' -f2)" $CI_REGISTRY_IMAGE:source
    - docker push $CI_REGISTRY_IMAGE:source
    - |
      docker build --pull \
      --build-arg BUILDKIT_INLINE_CACHE=1 --output=type=image,compression=zstd \
      --cache-from $CI_REGISTRY_IMAGE:source --cache-from $CI_REGISTRY_IMAGE:latest \
      -t $CI_REGISTRY_IMAGE:${CI_PIPELINE_CREATED_AT//:/.} .
    - docker tag $CI_REGISTRY_IMAGE:${CI_PIPELINE_CREATED_AT//:/.} $CI_REGISTRY_IMAGE:latest
    - docker push $CI_REGISTRY_IMAGE:${CI_PIPELINE_CREATED_AT//:/.}
    - docker push $CI_REGISTRY_IMAGE:latest
